:root {
  --branding-color: #79a2f2;
  --secondary-color: #bed5f3;
  --accent-color: #f2e0bd;
  --font-color: #021b3d;
  --box-shadow: 3px 3px 10px #79a2f2;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
  background-color: #e1ebf89f;
  color: var(--font-color);
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 96px;
}
h2 {
  font-weight: bold;
  font-size: 36px;
}
h3 {
  font-weight: normal;
  color: #272142;
  line-height: 2;
  font-size: 24px;
}
h4 {
  font-size: 48px;
  font-family: var(--heading-font-family);
}
p {
  line-height: 30px;
}
.title-names {
  font-family: var(--heading-font-family);
  font-size: 64px;
}
.hero {
  text-align: center;
  padding: 130px 20px;
  background-color: var(--secondary-color);
}
.btn-branding {
  color: white;
  background-color: var(--branding-color);
  font-size: 18px;
  font-weight: 500;
  padding: 18px 30px;
  line-height: 27px;
  box-shadow: var(--box-shadow);
}
.btn-branding-outline {
  color: var(--branding-color);
  border: 1px var(--branding-color) solid;
  font-size: 18px;
  font-weight: 500;
  padding: 18px 30px;
  line-height: 27px;
  box-shadow: var(--box-shadow);
}
.btn-branding-outline-sm {
  color: var(--branding-color);
  border: 1px var(--branding-color) solid;
  font-size: 12px;
  font-weight: 500;
  padding: 13px 26px;
}

.project-description {
  padding: 9px 60px 222px 60px;
}
.content-container {
  padding: 60px 20px;
}
.content {
  margin: 30px;
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
}
.content h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0 0;
}
.website {
  border: 10px solid var(--secondary-color);
  background-color: var(--secondary-color);
}
.website-photo {
  background-color: var(--secondary-color);

  box-shadow: 12px 12px 2px 1px var(--secondary-color);
}
.logo {
  max-width: 80px;
}
.logo:hover {
  opacity: 0.7;
}
.contact {
  text-decoration: none;
  color: var(--branding-color);
}
.contact:hover {
  color: var(--font-color);
}

nav {
  padding: 20px 0;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
nav a {
  text-decoration: none;
  color: #272142;
}
nav li.active a,
nav a:hover {
  color: var(--branding-color);
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}
footer .email-link:hover {
  color: var(--branding-color);
}
footer .social-links a {
  margin-top: 0px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
  color: var(--branding-color);
  background-color: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}
footer .contact-box {
  background-color: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}
footer h6 a {
  color: var(--branding-color);
  text-decoration: none;
}
footer .social-links a:hover {
  color: var(--font-color);
}
.footer {
  background-image: url(../photos/footer.png);
  min-height: 460px;

  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
}

@media (max-width: 900px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 20px;
    text-align: center;
  }
  h3 {
    font-size: 12px;
  }
  h6 {
    font-size: 12px;
  }
  .icon {
    margin-top: -66px;
    max-width: 330px;
  }
  .content {
    margin-top: 20px;
  }
  .content h1 {
    font-size: 40px;
    line-height: 50px;
  }
  .btn-branding {
    font-size: 12px;
    font-weight: 500;
    padding: 5px 10px;
  }
  .btn-branding-outline {
    font-size: 12px;
    font-weight: 500;
    padding: 5px 10px;
  }
  .hero {
    padding: 90px 20px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }
  .title-names {
    font-size: 44px;
  }
  .content {
    text-align: center;
    padding-top: 10px;
  }
  .footer {
    min-height: 100px;
  }
  .logo {
    max-width: 60px;
  }
  nav li {
    font-size: 12px;
  }
}
