@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Onest:wght@200;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: BN;
  src: url(../font/BNScoutsHand.otf);
}
:root {
  --font-color: #016153;
  --body-color: #fcfdf2;
  --header-color: #038877;
  --primary-color: #0da08e;
  --secondary-color: #48d1c1;
  --accent-color: #ffe585;

  --box-shadow: 12px 12px 2px 1px #d8dbc3;

  --transition: all 0.4s ease-in-out;
  --heading-font-family: BN;
  --default-font-family: "Onest", sans-serif;
}

html {
  margin: 0;
}
body {
  font-family: var(--default-font-family);
  background-color: var(--body-color);
  color: var(--font-color);
  box-sizing: none;
}
section {
  margin: 80px 0 114px 0;
  text-align: center;
}
section h2 {
  font-family: var(--heading-font-family);
  font-size: 68px;
}
section.certificates {
  margin: 150px 150px 30px 150px;
  text-align: left;
}
h1 {
  color: var(--header-color);
  font-family: var(--heading-font-family);
  font-size: 96px;
}

.color {
  transition: var(--transition);
  color: var(--secondary-color);
}
.color-hover:hover {
  color: var(--primary-color);
  transition: var(--transition);
}
.underline {
  border-bottom: 0.5rem solid var(--accent-color);
  border-radius: 3px 3px;
}

#color {
  color: var(--primary-color);
}

/* hero */

.border {
  height: 5px;
  width: 200px;
  margin: 17px 50px 0 50px;
  padding: 0 20px;
  border-radius: 20px 20px;
  background-color: var(--primary-color);
}

h1 a {
  transition: var(--transition);
}
h2 {
  font-weight: bold;
  font-size: 36px;
}
h3 {
  font-weight: normal;
  font-size: 24px;
  line-height: 2.5rem;
}
h4 {
  font-size: 48px;
  font-family: var(--heading-font-family);
}
h5 {
  color: var(--header-color);
}
p {
  line-height: 30px;
  color: var(--font-color);
}
p a {
  text-decoration: none;
  color: var(--font-color);
  font-weight: bold;
  transition: var(--transition);
}

a.active {
  color: var(--branding-color);
  font-weight: 700;
}
a.active:hover {
  font-weight: 700;
}
a:hover {
  color: var(--branding-color);
  font-weight: 600;
}
h1 a:hover {
  font-weight: 400;
}

/*  */
.grid {
  display: grid;
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;
}
.grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-list {
  grid-template-columns: 1fr 0.5fr 2fr;
}

.gallery {
  max-width: 1800px;
  padding: 4vw;
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
}

.img-link {
  transition: var(--transition);
}
.img-link:hover {
  filter: brightness(80%);
  transition: var(--transition);
}
/*  */
/* Hero content */
.hero {
  text-align: center;
}
.hero-content {
  padding: 100px 30px;
  margin: 0 30px;
}
.hero-content h1 {
  color: var(--header-color);
  font-family: var(--heading-font-family);
  font-size: 12rem;
}
.hero-content h3 {
  font-size: 1.3rem;
  margin-bottom: 3rem;
  padding: 0 76.8px;
  font-weight: 500;
}
/* Buttons */
.btn-grid {
  display: inline-flex;
  gap: 2rem;
}

a.btn {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  padding: 18px 30px;
  border-radius: 2px 2px;
  transition: var(--transition);
}
.btn-branding {
  color: var(--body-color);
  background-color: var(--font-color);
}

.btn-branding:hover {
  border: 1px solid var(--font-color);
  background-color: var(--font-color);
  color: var(--body-color);
  box-shadow: var(--box-shadow);
  transition: var(--transition);
}
.btn-branding-outline {
  color: var(--font-color);
  border: 2.5px solid var(--font-color);
}
.btn-branding-outline:hover {
  box-shadow: var(--box-shadow);
  transition: var(--transition);
}

/*  */
.content {
  margin: 30px;
}
.content h1 {
  color: var(--font-color);
  font-size: 64px;
  line-height: 80px;
}
.content h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0 0;
}
/* contact link */

.contact {
  margin: 205px 0;
  text-align: center;
}
h1.contact a {
  color: var(--font-color);
  text-decoration: none;
}

/* Navbar */
nav {
  padding: 20px 0 30px 0;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
nav a {
  text-decoration: none;
  color: var(--font-color);
}
nav li.active a,
nav a:hover {
  color: var(--branding-color);
}
nav h5 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 27px;
}
/* Footer */
footer {
  background-color: var(--font-color);
  padding: 70px 90px;
  color: var(--accent-color);
}
footer ul,
li {
  list-style: none;
}
footer h2 {
  font-family: var(--heading-font-family);
  color: var(--body-color);
}
footer h3 {
  font-family: var(--heading-font-family);
  color: var(--body-color);
  margin: auto;
}

footer p {
  color: var(--accent-color);
  font-weight: 600;
  margin: 0;
}

footer .social-links a {
  font-size: 18px;
  transition: all 100ms ease-in-out;
  list-style: none;
  color: var(--third-color);
}
footer a {
  color: var(--accent-color);
}

/* /* footer Projects  */
footer article {
  margin: 100px 0 150px 0;
  transition: var(--transition);
}
footer article h3 {
  text-align: center;
  color: var(--third-color);
  font-family: var(--default-font-family);
  font-size: 20px;
  margin-top: 20px;
}
footer article h3 {
  color: var(--body-color);
}
/*  */

@media (max-width: 900px) {
  .content h1 {
    font-size: 36px;
    line-height: normal;
  }
  nav h5 {
    font-size: 23px;
    margin: 0;
  }

  h2 {
    font-size: 20px;
    text-align: center;
  }
  h3 {
    font-size: 15px;
    margin-bottom: 0;
  }
  h6 {
    font-size: 12px;
  }
  section {
    margin: 80px 0 114px 0;
    text-align: center;
  }
  section h2 {
    font-size: 39px;
  }
  section.certificates {
    margin: 150px 50px 30px 50px;
    text-align: left;
  }
  .line {
    font-size: 10px;
    padding: 5px 10px;
  }
  .contact {
    margin: 20px 0 117px 0;
  }

  a.btn {
    font-size: 15px;
    padding: 10px 21px;
    line-height: 27px;
    border-radius: 2px 2px;
  }
  .hero {
    padding: 10px 20px;
  }
  .hero-content {
    padding: 110px 20px;
    text-align: center;
  }
  .hero-content h1 {
    font-family: var(--heading-font-family);
    font-size: 3rem;
  }
  .hero-content h3 {
    font-size: 14.8px;
    line-height: normal;
    padding: 0 10.8px;
  }
  h1.contact {
    text-align: center;
    color: var(--font-color);
    font-size: 34px;
    line-height: 37px;
  }
  .content {
    text-align: center;
    padding-top: 4px;
    margin: 2px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .project-description-2 {
    padding-left: 0px;
    text-align: center;
  }
  .mb-7 {
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
  .grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  footer {
    padding: 80px 30px;
  }
  footer h3 {
    font-size: 20px;
  }
  footer article {
    margin: 50px 0 150px 0;
  }
  footer ul {
    padding: 0;
  }

  nav li {
    font-size: 12px;
  }
}
