@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Onest:wght@200;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: BN;
  src: url(../font/BNScoutsHand.otf);
}
:root {
  --font-color: #016153;
  --body-color: #fcfdf2;
  --header-color: #038877;
  --primary-color: #0da08e;
  --secondary-color: #48d1c1;
  --third-color: #d8dbc3;

  --box-shadow: 12px 12px 2px 1px #d8dbc3;
  --box-shadow-main: 7px 7px 0px 0px rgb(88, 38, 90, 0.281);

  --transition: all 0.4s ease-in-out;
  --heading-font-family: BN;
  --default-font-family: "Onest", sans-serif;
}

html {
  margin: 0;
}
body {
  font-family: var(--default-font-family);
  background-color: var(--body-color);
  color: var(--font-color);
  box-sizing: none;
}
section {
  margin: 150px 150px 30px 150px;
}

h1 {
  color: var(--header-color);
  font-family: var(--heading-font-family);
  font-size: 96px;
}

.color {
  transition: var(--transition);
  color: var(--secondary-color);
}
.color-hover:hover {
  color: var(--primary-color);
  transition: var(--transition);
}
.underline {
  border-color: #bc8ffe;
  border-bottom: 0.3rem solid var(--primary-color);
  border-radius: 3px 3px;
}

#color {
  color: var(--primary-color);
}

/* hero */

.description {
  display: flex;
  justify-content: left;
  padding-top: 0.9rem;
  padding-bottom: 3rem;
  align-items: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
}
/*  */
.border {
  height: 5px;
  width: 200px;
  margin: 17px 50px 0 50px;
  padding: 0 20px;
  border-radius: 20px 20px;
  background-color: var(--primary-color);
}

.contact {
  margin: 205px 0;
}
h1 a {
  transition: var(--transition);
}
h2 {
  font-weight: bold;
  font-size: 36px;
}
h3 {
  color: var(--primary-color-2);
  font-weight: normal;
  font-size: 24px;
  line-height: 2.5rem;
}
h4 {
  font-size: 48px;
  font-family: var(--heading-font-family);
}
h5 {
  color: var(--header-color);
}
p {
  line-height: 30px;
  color: var(--font-color);
}
p a {
  text-decoration: none;
  color: var(--font-color);
  font-weight: bold;
  transition: var(--transition);
}

.projects-navbar h4 {
  margin-bottom: 0.8rem;
}
.projects-navbar ul {
  display: inline-flex;
  gap: 1rem;
  padding: 0;
}
.projects-navbar li,
a {
  text-decoration: none;
  list-style: none;
  color: var(--accent-color);
}

a.active {
  color: var(--branding-color);
  font-weight: 700;
}
a.active:hover {
  font-weight: 700;
}
a:hover {
  color: var(--branding-color);
  font-weight: 600;
}
h1 a:hover {
  font-weight: 400;
}

/*  */
.grid {
  display: grid;
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;
  width: auto;
}
.grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-list {
  grid-template-columns: 1fr 0.5fr 2fr;
}
footer .grid-3 {
  grid-template-columns: 2fr 1fr 1fr;
}

.gallery {
  max-width: 1800px;
  padding: 4vw;
  margin-left: auto;
  margin-right: auto;
}

.grid-img {
  max-width: 100%;
  display: block;
}
.grid-img img:hover {
  filter: opacity(0.6);
  transition: var(--transition);
}
/*  */
.responsive-img {
  width: 100%;
}
.mt-5 {
  margin-top: 8rem;
}
.mb-3 {
  margin-bottom: 3rem;
}
.mb-6 {
  margin-bottom: 6rem;
}
.mb-7 {
  margin-bottom: 8rem;
}
.text-center {
  text-align: center;
}
.title-names {
  font-family: var(--heading-font-family);
  font-size: 64px;
}
.hero {
  text-align: center;
  background-color: transparent;
}
.hero-content {
  padding: 100px 30px;
  margin: 0 30px;
}
.hero-content h1 {
  font-family: var(--heading-font-family);
  font-size: 14rem;
}

.hero-content h3 {
  font-size: 1.3rem;
  margin-bottom: 3rem;
  padding: 0 76.8px;
  font-weight: 500;
}

/* Buttons */
.btn-grid {
  display: inline-flex;
  gap: 2rem;
}

a.btn {
  font-size: 18px;
  padding: 18px 30px;
  line-height: 27px;
  border-radius: 2px 2px;
}
.btn-branding {
  color: var(--body-color);
  background-color: var(--font-color);
  font-weight: 600;
  transition: var(--transition);
}

.btn-branding:hover {
  border: 1px solid var(--font-color);
  background-color: var(--font-color);
  color: var(--body-color);
  box-shadow: var(--box-shadow);
  transition: var(--transition);
}
.btn-branding-outline {
  color: var(--font-color);
  border: 2.5px solid var(--font-color);
  border-radius: 2px 2px;
  font-size: 18px;
  font-weight: 600;
  transition: var(--transition);
}
.btn-branding-outline:hover {
  box-shadow: var(--box-shadow);
  transition: var(--transition);
}

/*  */
.project-description {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 300px;
}

.project-description-2 {
  padding-left: 250px;
}
.content-container article {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  padding: 60px 50px;
}
.content {
  margin: 30px;
}
.content h1 {
  color: var(--font-color);
  font-size: 64px;
  line-height: 80px;
}
.content h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0 0;
}

.website {
  border: 10px solid var(--secondary-color);
  border-radius: 20px 20px;
  background-color: var(--secondary-color);
}
.website-photo {
  background-color: var(--secondary-color);
}

.contact {
  text-decoration: none;
  color: var(--branding-color);
}

.row {
  align-items: center;
}

nav {
  padding: 20px 0 30px 0;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
nav a {
  text-decoration: none;
  color: var(--font-color);
}
nav li.active a,
nav a:hover {
  color: var(--branding-color);
}
nav h5 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 27px;
}

/*  */
footer {
  background-color: var(--font-color);
  padding: 70px 90px;
  color: var(--third-color);
}
footer article {
  margin: 100px 0 150px 0;
  transition: var(--transition);
}
footer article a img:hover {
  transition: var(--transition);
  filter: brightness(0.8);
}
footer article h3 {
  text-align: center;
  color: var(--third-color);
  font-family: var(--default-font-family);
  font-size: 20px;
  margin-top: 20px;
}

footer ul,
li {
  list-style: none;
}
footer h2 {
  font-family: var(--heading-font-family);
  color: var(--body-color);
  font-weight: 300;
}
footer h3 {
  font-family: var(--heading-font-family);
  color: var(--body-color);
  margin: auto;
}

footer p {
  color: var(--third-color);
  font-weight: 600;
  margin: 0;
}

footer .social-links a {
  font-size: 18px;
  transition: all 100ms ease-in-out;
  list-style: none;
}

@media (max-width: 900px) {
  nav h5 {
    font-size: 23px;
    margin: 0;
  }
  h1 {
    font-size: 43px;
  }
  h2 {
    font-size: 20px;
    text-align: center;
  }
  h3 {
    font-size: 10px;
  }
  h6 {
    font-size: 12px;
  }
  section {
    margin: 100px 20px 30px 20px;
  }
  .line {
    font-size: 10px;
    padding: 5px 10px;
  }
  .icon {
    margin-top: -66px;
    max-width: 330px;
  }
  .contact {
    margin: 20px 0 117px 0;
  }

  .content h1 {
    font-size: 34px;
    line-height: 37px;
  }
  a.btn {
    font-size: 15px;
    padding: 10px 21px;
    line-height: 27px;
    border-radius: 2px 2px;
  }
  /* .btn-branding {
    font-size: 12px;
    font-weight: 500;
    padding: 5px 10px;
  }
  .btn-branding-outline {
    font-size: 12px;
    font-weight: 500;
    padding: 5px 10px;
  } */
  .hero {
    padding: 10px 20px;
  }
  .hero-content {
    padding: 110px 20px;
    text-align: center;
  }
  .hero-content h1 {
    font-family: var(--heading-font-family);
    font-size: 3rem;
  }
  .hero-content h3 {
    font-size: 0.7rem;
    line-height: normal;
    padding: 0 10.8px;
  }
  .icons-programs,
  .icons-programs-react {
    display: none;
  }
  .title-names {
    font-size: 44px;
  }
  .content {
    text-align: center;
    padding-top: 4px;
    margin: 2px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .project-description-2 {
    padding-left: 0px;
    text-align: center;
  }
  .mb-7 {
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
  .grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  footer {
    min-height: 180px;
    padding: 60px 30px;
  }
  footer h3 {
    font-size: 20px;
  }
  footer .grid-3 {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  footer ul {
    padding: 0;
  }

  nav li {
    font-size: 12px;
  }
}
